<% include ./partials/header.ejs%>

<div
  class="w-full h-screen bg-center bg-cover bg-[url(https://images.unsplash.com/photo-1621791554700-35b52803f596?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] flex items-center justify-center"
>
  <div class="w-[32vw] bg-white px-20 py-10 rounded-[2rem]">
    <h1
      class="text-3xl leading-none tracking-tighter text-center capitalize font-semibold text-zinc-700"
    >
      Welcome To Pinterest.
    </h1>
    <form action="/login" method="post" >
      <input
        class="border-2 mt-4 rounded-[0.5rem] block w-full px-3 py-2"
        type="text"
        name="username"
        placeholder="Username"
      />
      <input
        class="border-2 mt-2 rounded-[0.5rem] block w-full px-3 py-2"
        type="password"
        name="password"
        placeholder="Password"
      />
      <a href="#" class="mt-2 inline-block font-semibold text-zinc-700 text-sm"
        >Forgot Password ?</a
      >
      <input
        class="border-2 mt-2 block w-full px-3 py-2 bg-red-600 text-white rounded-full"
        type="submit"
        value="Login"
      />
      <p
        class="text-xs font-semibold text-zinc-700 mt-6 w-3/4 mx-auto text-center"
      >
        By continuing, you agree to Pinterest's Terms of Service and acknowledge
        you've read our Privacy Policy; Notice at collection
      </p>
    </form>
    <a
      href="/register"
      class="inline-block mt-6 text-sm font-semibold text-zinc-700 text-center w-full"
      >Dont have an account ? Signup</a
    >
  </div>
</div>
<% include ./partials/footer.ejs%>
